{
  "openapi": "3.0.0",
  "info": {
    "title": "Photo Drop (part photographers)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://photodrop.2.ie-1.fl0.io/api_docs/",
      "description": "Docs Faster Server"
    },
    {
      "url": "https://photo-drop-kappa.vercel.app/",
      "description": "Production Server"
    },
    {
      "url": "https://photo-drop.onrender.com/api_docs/",
      "description": "Docs Server"
    }
  ],
  "tags": [
    {
      "name": "Login"
    },
    {
      "name": "Album"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/login": {
      "post": {
        "tags": ["Login"],
        "summary": "Authenticate a user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "login": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": ["login", "password"]
              },
              "example": {
                "login": "Taras",
                "password": "qwerty"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": 1,
                  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjEsImlhdCI6MTY5NTIxMjE5MCwiZXhwIjoxNjk1MjE1NzkwfQ.Xi24lWNpdlmtDWvwV1oU0UkTraEw0tBNX86ftj4ZOnI"
                }
              }
            }
          },
          "400": {
            "description": "Server error : Bad request - Missing login or password"
          },
          "401": {
            "description": "Unauthorized : User not found or password is incorrect"
          },
          "500": {
            "description": "Unauthorized : User not found or password is incorrect"
          }
        }
      }
    },
    "/current": {
      "get": {
        "tags": ["Login"],
        "summary": "Get current user information",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "User ID"
                    }
                  }
                },
                "example": {
                  "id": 1
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Token is missing or invalid"
          },
          "403": {
            "description": "Forbidden: Not authorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/albums": {
      "post": {
        "tags": ["Album"],
        "summary": "Create a new album",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "owner": {
                      "type": "integer",
                      "description": "Owner's user ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Album name"
                    },
                    "location": {
                      "type": "string",
                      "description": "Location of the album"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Date of album creation"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Album ID"
                    }
                  }
                },
                "example": {
                  "owner": 1,
                  "name": "Album3",
                  "location": "Kharkiv",
                  "createdAt": "04/04/2004",
                  "id": 12
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Token is missing or invalid"
          },
          "403": {
            "description": "Forbidden: Not authorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "albumName": {
                    "type": "string",
                    "description": "Album name"
                  },
                  "location": {
                    "type": "string",
                    "description": "Location of the album"
                  },
                  "date": {
                    "type": "string",
                    "description": "Date of album creation"
                  }
                },
                "example": {
                  "albumName": "Album3",
                  "location": "Kharkiv",
                  "date": "04/04/2004"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Album"],
        "summary": "Retrieve a list of albums",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "maxPage": {
                      "type": "integer",
                      "description": "Maximum page number"
                    },
                    "albums": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Album ID"
                          },
                          "owner": {
                            "type": "integer",
                            "description": "Owner's user ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Album name"
                          },
                          "counterPhoto": {
                            "type": "integer",
                            "description": "Number of photos in the album"
                          },
                          "location": {
                            "type": "string",
                            "description": "Location of the album"
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Date of album creation"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "maxPage": 1,
                  "albums": [
                    {
                      "id": 22,
                      "owner": 1,
                      "name": "Test",
                      "counterPhoto": 0,
                      "location": "Paris",
                      "createdAt": "03/04/2001"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Token is missing or invalid"
          },
          "403": {
            "description": "Forbidden: Not authorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (default is 1, Maximum is 20)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/albums/${albumId}/photos": {
      "post": {
        "tags": ["Photo"],
        "summary": "Create new photos in an album",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fileName": {
                          "type": "string",
                          "description": "Name of the photo file"
                        },
                        "phoneNumbers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "List of phone numbers associated with the photo"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "files": [
                  {
                    "fileName": "first3.png",
                    "phoneNumbers": ["34531145", "54113434"]
                  },
                  {
                    "fileName": "seco3.jpg",
                    "phoneNumbers": ["718", "135"]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "photos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "nameFile": {
                            "type": "string",
                            "description": "Name of the uploaded file"
                          },
                          "url": {
                            "type": "string",
                            "description": "URL of the uploaded photo"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "photos": [
                    {
                      "nameFile": "first3.png",
                      "url": "https://photodrop2.s3.eu-central-1.amazonaws.com/photos/20_28.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIATS5BI5YUWGM2YQVP%2F20231002%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Date=20231002T101035Z&X-Amz-Expires=3600&X-Amz-Signature=7ac1e144715bdcbc4bc9eb4d07866a96ca896d99361820101f8f240d188b2630&X-Amz-SignedHeaders=host"
                    },
                    {
                      "nameFile": "seco3.jpg",
                      "url": "https://photodrop2.s3.eu-central-1.amazonaws.com/photos/20_29.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIATS5BI5YUWGM2YQVP%2F20231002%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Date=20231002T101035Z&X-Amz-Expires=3600&X-Amz-Signature=7dd19657fc9dea061250a5e406420514a5181f65aeeb61e103882aea7784b19e&X-Amz-SignedHeaders=host"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Token is missing or invalid"
          },
          "403": {
            "description": "Forbidden: Not authorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "albumId",
            "in": "path",
            "description": "ID of the album",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    }
  }
}
